# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File upload
node_modules
dist
package-lock.json
default.json
*/default.json
*.txt
*/.txt
*.csv

.env
primeagen_algos_course/__tests__/boolArr.json
primeagen_algos_course/__tests__/randomData.json
instaScraper/images.json
instaScraper/image_data.json
basics/t.env
basics/t.env

downloaded_images/
