@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dogica";
  src: local("Dogica"), url("./fonts/dogica.ttf") format("truetype");
}
@font-face {
  font-family: "DogicaBold";
  src: local("DogicaBold"), url("./fonts/dogicabold.ttf") format("truetype");
}
@font-face {
  font-family: "DogicaPixel";
  src: local("DogicaPixel"), url("./fonts/dogicapixel.ttf") format("truetype");
}
@font-face {
  font-family: "DogicaPixelBold";
  src: local("DogicaPixelBold"),
    url("./fonts/dogicapixelbold.ttf") format("truetype");
}

.font-dogica {
  font-family: "Dogica";
}
.font-dogica-bold {
  font-family: "DogicaBold";
}
.font-dogica-pixel {
  font-family: "DogicaPixel";
}
.font-dogica-pixel-bold {
  font-family: "DogicaPixelBold";
}

.small-shadow {
  text-shadow: -2px -2px 1px #1b1b1b;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button,
customButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover,
customButton:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible,
customButton:focus,
customButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input,
.customButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em !important;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input#upload-btn {
  padding-top: 1rem;
}

input#uploaded_file {
  background-color: transparent !important;
}
input#uploaded_file:hover {
  border-color: transparent;
}
#upload-btn {
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
input:hover {
  border-color: #646cff;
}
input:focus,
input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  height: 100%;
  width: 100%;
  display: block;
}

.App {
  display: block;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
  height: auto;
  z-index: 1;
  padding-top: 1.5rem;
}

.App::before {
  /* // Background Grid Styling */
  height: 100%;
  display: inline-block;
  opacity: 0.035;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000f1c;
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.5) 2px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.5) 2px, transparent 0),
    linear-gradient(hsla(0, 0%, 100%, 0.28) 1px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.28) 1px, transparent 0);
  background-size: 15px 15px, 15px 15px, 15px 15px, 15px 15px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  content: "";
  z-index: -1;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Loading Spinner */
.loading-systems {
  position: relative;
  width: 4rem;
  height: 4rem;
  transform-style: preserve-3d;
  perspective: 800px;
}
.loading-systems.small {
  width: 2rem;
  height: 2rem;
}
.loading-systems.medium {
  width: 3rem;
  height: 3rem;
}
.loading-systems.large {
  width: 5rem;
  height: 5rem;
}

.loading-systems .arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 3px solid #0ea5e9;
}
.loading-systems .arc:nth-child(1) {
  animation: rotate1 1.15s linear infinite;
}
.loading-systems .arc:nth-child(2) {
  animation: rotate2 1.15s linear infinite;
}
.loading-systems .arc:nth-child(3) {
  animation: rotate3 1.15s linear infinite;
}
.loading-systems .arc:nth-child(1) {
  animation-delay: -0.8s;
}
.loading-systems .arc:nth-child(2) {
  animation-delay: -0.4s;
}
.loading-systems .arc:nth-child(3) {
  animation-delay: 0s;
}

@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
